.context {
    margin: 15vh auto auto auto;
    height: 80vh;
    width: 95vw;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.left, .right {
    height: 75vh;
    width: 46vw;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    background-color: rgb(39, 39, 39);
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;
    overflow: scroll;
}

.right{
    padding: 0;
    overflow: hidden;
}

.resizer {
    height: 10px;
    background-color: #4b3838;
    cursor: row-resize;
    width: 100%;
  }

.left h1{
    margin-bottom: 2vh;
}

.left h3{
    margin-bottom: 2vh;
}
.left h4{
    margin-bottom: 4vh;
}

.tests{
    overflow: scroll;
}